# Most basic config for training a model

# Set the model to use
defaults:
  - model: baseline

# General info
username: 'cizinsky' # your izar username
seed: 42
debug: True # to avoid logging into wandb
output_dir: /scratch/izar/${username}/netml/outputs

# w&b 
logger:
  project: seizure-prediction
  tags: [dev, baseline] # something we can filter by

# Data 
data:
  trn_frac: 0.9
  batch_size: 512
  num_workers: 10
  root: /scratch/izar/${username}/netml/data
  prefetch: True # If your compute does not allow it, you can use `prefetch=False`
  signal_transform: fft_filtering

# Optimisation
optim:
  lr: 1e-3
  weight_decay: 0.0


# PL trainer 
trainer:
  max_epochs: 1000
  accelerator: gpu
  devices: 1
  checkpoint_every_n_epochs: 250
  grad_clip: 0.0
  precision: 32


# Just to let Hydra know where to save the config file
hydra:
  run:
    dir: ${output_dir}/${now:%Y-%m-%d}/${now:%H-%M-%S}
  job:
    chdir: False